# String Operations, Comparison and Information

In [2]:
import numpy as np

In [30]:
my_name = "vanshkaushik "
str1 = "learn numpy in python"

In [31]:
np.char.add(my_name, str1)

array('vanshkaushik learn numpy in python', dtype='<U34')

In [32]:
np.char.lower(my_name)

array('vanshkaushik ', dtype='<U13')

In [33]:
np.char.upper(str1)

array('LEARN NUMPY IN PYTHON', dtype='<U21')

In [34]:
np.char.upper(my_name)

array('VANSHKAUSHIK ', dtype='<U13')

In [35]:
np.char.center(str1,40)

array('         learn numpy in python          ', dtype='<U40')

In [36]:
np.char.upper(np.char.center(str1,40))

array('         LEARN NUMPY IN PYTHON          ', dtype='<U40')

In [37]:
np.char.upper(np.char.center(str1,40,fillchar = "!"))

array('!!!!!!!!!LEARN NUMPY IN PYTHON!!!!!!!!!!', dtype='<U40')

In [38]:
np.char.split(my_name)

array(list(['vanshkaushik']), dtype=object)

In [39]:
np.char.splitlines("Hello\nvansh")

array(list(['Hello', 'vansh']), dtype=object)

In [40]:
np.char.splitlines("Hello\tvansh")

array(list(['Hello\tvansh']), dtype=object)

In [41]:
np.char.splitlines("Hello/nvansh")

array(list(['Hello/nvansh']), dtype=object)

In [42]:
str2 = "DMY"
str3 = "DMY"

In [43]:
np.char.join([":","/"],[str2,str3])

array(['D:M:Y', 'D/M/Y'], dtype='<U5')

In [44]:
np.char.replace(my_name,"vansh","babble")

array('babblekaushik ', dtype='<U14')

In [45]:
np.char.count(my_name, "a")

array(2)

In [48]:
np.char.count(my_name, "b")

array(1)

In [49]:
np.char.count(my_name, "n")

array(1)

In [50]:
np.char.equal(str2,str3)

array(True)

In [51]:
my_name

'vanshkaushik '

In [58]:
np.char.find(my_name,"kaushik")

array(5)